{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Persistant Worrying
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
<div class="container">

  <form class="form-pwcontrolForm" method="POST" action = "/doihavecontrol">
    <h2 class="form-pwcontrolForm-heading">Do I Have Control?</h2>
    {{ wtf.form_field(form.thought)}}
    {{ wtf.form_field(form.control)}}
    {{ wtf.form_field(form.add)}}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Enter</button>
  </form>

</div> <!-- /container -->
{% endblock %}
