{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Forgot Password
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
    <div class="container">

      <form class="form-forgotForm" method="POST" action ="/forgot">
        <h2 class="form-forgotForm-heading">Enter your email and we will send the password reset link to your email.</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.email) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
      </form>

    </div> <!-- /container -->
{% endblock %}
