{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Self Criticism
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
<div class="container">

  <form class="form-scchangeForm" method="POST" action = "/howcanichangeit">
    <h2 class="form-scchangeForm-heading">How Can I Change It?</h2>
    <h1>{{q}}</h1>
    {{ wtf.form_field(form.suggestion)}}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Enter</button>
  </form>

</div> <!-- /container -->
{% endblock %}
