{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Sign Up
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
<div class="container">

  <form class="form-initialuserprofile" method="POST" action = "/initialuserprofile">
    <h2 class="form-initialuserprofile-heading">Initial User Profile</h2>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.first_name) }}
    {{ wtf.form_field(form.last_name) }}
    {{ wtf.form_field(form.age) }}
    {{ wtf.form_field(form.sex) }}
    {{ wtf.form_field(form.hobbies) }}
    {{ wtf.form_field(form.interests) }}
    {{ wtf.form_field(form.imp) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Enter</button>
  </form>

</div> <!-- /container -->
{% endblock %}
