{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Negative Thinking
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
<div class="container">

  <form class="form-ntpositiveForm" method="POST" action = "/positivespin">
    <h2 class="form-ntpositiveForm-heading">Put a Positive Spin on the Thought</h2>
    <h1>{{ (q) }}</h1>
    {{ wtf.form_field(form.suggestion) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Enter</button>
  </form>

</div> <!-- /container -->
{% endblock %}
