<h1>First name: {{ (first_name) }} </h1>

<h1>Last name: {{ (last_name) }} </h1>

<h1>Age: {{ (age) }} </h1>

<h1>Username: {{ (username) }} </h1>

<h1>Email: {{ (email) }} </h1>

<h1>Gender: {{ (gender) }} </h1>

<h1>Hobbies: {{ (hobbies) }} </h1>

<h1>Interests: {{ (interests) }}  </h1>

<h1>Important People in My Life: {{ (imp) }} </h1>

<form action="http://127.0.0.1:5000/initialuserprofile">
    <input type="submit" value="Update" />
</form>

<form action="http://127.0.0.1:5000/dashboard">
    <input type="submit" value="Go to dashboard" />
</form>
