{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Decision Making
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
<div class="container">

  <form class="form-dmworstForm" method="POST" action = "/worstthatcanhappen">
    <h2 class="form-dmworstForm-heading">What Is The Worst Than Can Happen?</h2>
    <h1>{{q}}</h1>
    {{ wtf.form_field(form.suggestion) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Enter</button>
  </form>

</div> <!-- /container -->
{% endblock %}
